/* Estilo base para móviles (mobile-first) */
.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.register .register__logo {
    display: flex;
    width: 200px;
    height: 100px;
    justify-content: center;
}

.register .register__title {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0090D0;
}

.register .register__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.register .register__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .register__input {
    display: flex;
    width: 300px;
    max-width: 600px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 15px;
}

.register__input:focus,
.register__input:hover {
    border-color: #D9D9D9;
    box-shadow: 0 0 5px #D9D9D9;
    outline: none;
}

.register__input::placeholder {
    color: #000;
    opacity: 1;
}

input[type="password"]::placeholder {
    color: #000; 
    opacity: 1;
}

.register__input .ant-input-suffix .anticon {
    color: #000;
}

.register .register__button {
    width: 150px;
    height: 40px;
    background: #0069A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.register .register__terms {
    text-decoration: underline;
    color: #0090D0;
}

.register .register__text {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #BDBDBD;
    margin: 10px;
    text-decoration: underline;
}

.register .register__error {
    color: red;
}

@media (min-width: 768px) {
    .register {
        padding: 20px;
    }

    .register .register__logo {
        width: 247px;
        height: 147px;
    }

    .register .register__title {
        font-size: 36px;
        margin: 20px;
    }

    .register .register__inputs {
        margin-top: 10px;
    }

    .register .register__button {
        width: 180px;
        height: 45px;
        font-size: 18px;
    }

    .register .register__text {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (min-width: 1024px) {
    .register {
        padding: 40px;
    }

    .register .register__logo {
        position: absolute;
        width: 247px;
        height: 147px;
        left: 0px;
        top: 2px;
    }

    .register .register__title {
        width: 310px;
        font-size: 36px;
        line-height: 43px;
        margin-top: 86px;
    }

    .register .register__input {
        width: 450px;
    }

    .register .register__button {
        width: 212px;
        height: 49px;
        font-size: 20px;
    }

    .register .register__text {
        font-size: 15px;
        line-height: 24px;
    }
}
