.emergencyButtonContainer {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;  
  height: 300px; 
  border-radius: 150px; 
  transition: background-color 0.3s; /* Añade una transición suave */
}

.emergencyButton {
  background-color: #F4D73B; 
}

.emergencyButtonPressed {
  background-color: #0090D0;
  width: 100;
}

.emergencyLogo {
  width: 150px;
  height: 250px;
}
