.room {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.room .room__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    background-color: white;
    border-radius: 8px;
    width: 340px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.room .room__title {
    width: 100%;
    font-size: 33px;
    line-height: 1.4;
    color: #0090D0;
    text-align: center;
    word-wrap: break-word;
    margin: 20px;
    font-weight: 400;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form .form__textarea{
    width: 100%;
    margin: 5px;
    background: #D9D9D9;
    border-radius: 20px;
    color: black;
    padding: 18px;
}

.btnroom{
    margin: 5px;
}

.form .form__buttonroom{
    width: 150px;
    height: 49px;
    background: #0069A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5px 20px 15px;
}

.form__textarea::placeholder {
    color: black;
    opacity: 1; /* Asegura que el color del placeholder sea completamente visible */
}

/* .form-select .ant-select-selector {
    background: #D9D9D9 ;
    border-radius: 20px ;
    color: black ;
    border: none ;
} */

.select{
    width: 100%;
    height: 48px;
    margin: 3px;
    right: 12px;
}

.form-inputRoom {
    width: 300px;
    margin: 3px;
    max-width: 600px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

.form-inputRoom::placeholder{
    color: black;
}

.form-inputRoom .ant-select-selection-placeholder {
    color: black;
    opacity: 1;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:hover {
    border-color: #D9D9D9;
    background-color: #D9D9D9;
    box-shadow: 0 0 5px #D9D9D9;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:focus-within {
    border-color: #D9D9D9;
    box-shadow: 0 0 5px #D9D9D9;
    background-color: #D9D9D9;
}

@media (min-width: 768px) {
    .room .room__content {
        width: 550px;
        padding: 1rem;
    }
    .room .room__title {
        font-size: 36px;
    }
    .room .room__form{
        display: flex;
        flex-wrap: nowrap;
    }
    .form{
        width: 100%;
    }
    .form .form__textarea{
        margin: 10px;
    }
    .form-inputRoom {
        width: 150px;
    }
    .select{
        bottom: 10px;
        margin: 3px;
    }
}

@media (min-width: 1024px) {
    .room .room__content {
        width: 674px;
        padding: 1rem;
    }
    .form-inputRoom {
        width: 210px;
    }
    .select{
        bottom: 10px;
        margin: 3px;
    }
}
