.protocol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}

.protocol .protocol__title {
  width: 100%;
  font-size: 33px;
  line-height: 1.4;
  color: #0090d0;
  text-align: center;
  word-wrap: break-word;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  width: 100%;
}

.editor {
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.2);
  background: #fff;
  padding: 20px 30px;
  width: 90%;
  margin: 50px auto;
  border-radius: 20px;
}

.codex-editor__redactor {
  width: 100%;
}

.btn__protocol {
  margin: 5px;
}

.form .form__button__protocol {
  width: 150px;
  height: 49px;
  background: #0069a3;
  box-shadow: 0px 4px 4px rgba(225, 187, 187, 0.25);
  border-radius: 19px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5px 20px 15px;
}

.form__input__protocol::placeholder {
  color: black;
}

.form .form__input__protocol {
  width: 300px;
  margin: 3px;
  max-width: 600px;
  height: 48px;
  background: #d9d9d9;
  border-radius: 20px;
  align-items: center;
  box-sizing: border-box;
}

.select__protocol {
  width: 100%;
  margin-bottom: 10px;
  height: 48px;
  align-items: center;
  box-sizing: border-box;
  right: 10px;
}

.error__text {
  color: red;
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-form-item {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .protocol .protocol__title {
    font-size: 36px;
  }
  .protocol .protocol__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .form {
    width: 100%;
  }
}
