.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: #0069A3;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 0;
}

.icons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 60px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.icon {
  color: #fff;
  font-size: 24px;
}
